<div class="promo-section">
   <div class="left-promo" onclick="(MasterDynamic && MasterDynamic.helpers.goToUrl('/products/mw60-wireless-over-ear-headphones?variant=8103518081'));">
     <div class="initial">
       <img class="img-initial" src="./assets/img/left50_img_src.png">
       <div class="tag">
         <div class="tag-copy">MW60</div>
       </div>
     </div>
     <!--<div class="promo-hover">
       <img class="img-hover" style="height: auto;" src="http://cdn.shopify.com/s/files/1/0404/1101/t/12/assets/left50_img_hover_src.png?9610219006442787122">
       <div class="promo-title home">MW60</div>
       <div class="promo-sub home">Wireless Over-Ear Headphones</div>
       <div class="body-copy">Our MW60 Wireless Over-Ear Headphones are the ultimate in wireless with premium materials and exposed all-aluminum antenna for uncompromising durability, style and best-in-class signal range.</div>
       <a href="products/mw60-wireless-over-ear-headphones-variant=8103518081.html"><button>Shop MW60</button></a>
     </div>-->
   </div>
   <div class="right-promo" onclick="(MasterDynamic && MasterDynamic.helpers.goToUrl('/products/mh40-over-ear-headphones?variant=638592777'));">
     <div class="initial">
       <img class="img-initial" src="./assets/img/right50_img_src.png">
       <div class="tag">
         <div class="tag-copy">MH40</div>
       </div>
     </div>
     <!--<div class="promo-hover">
       <img class="img-hover" style="height: auto;" src='./assets/img/right50_img_hover_src.png'>
       <div class="promo-title home">MH40</div>
       <div class="promo-sub home">Over-Ear Headphones</div>
       <div class="body-copy"><p>Our MH40 Over-Ear Headphones are designed to be modern thinking caps: tools to help focus, inspire, and transport your mind.</p></div>
       <a href="products/mh40-over-ear-headphones-variant=638592777.html"><button>SHOP MH40</button></a>
     </div>-->
   </div>
  