<header class="site-header">
    
 <nav class="nav-bar header-nav gutter_left gutter_right" role="navigation">
   <div class="header-logo">
     <a href="index.html">
       <span class="icons-sprite md-logo"></span>
       <span class="icons-sprite md-logo-icon"></span>
     </a>
   </div>

   <div class="newnav">

       <a href="collections/headphones.html">
         <div class="link" data-link="headphones">Headphones</div>
       </a>

       <a href="collections/earphones.html">
         <div class="link" data-link="earphones">Earphones</div>
       </a>

       <a href="collections/accessories.html">
         <div class="link" data-link="accessories">Accessories</div>
       </a>

       <a href="pages/philosophy.html">
         <div class="link" data-link="philosophy">Philosophy</div>
       </a>

       <a href="http://blog.masterdynamic.com/">
         <div class="link" data-link="blog">Blog</div>
       </a>

   </div>