 <main class="wrapper main-content" role="main">

<section class="homepage" data-page="home">
 <!-- Hero Section -->
 <div class="hero-container">
   <a href="products/mw50-wireless-on-ear-headphones-variant=32861622599.html">
     <div class="hero">
       <div class="hero-copy-container">
         <div class="hero-title home">Introducing MW50 Wireless</div>
         <div class="hero-copy copy-title">On-Ear Headphones</div>
         <div class="hero-cta home">Shop MW50</div>
       </div>
     </div>
   </a>
 </div>